@{
    Layout = "_Layout";
}






@*//Menüler*@
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#Hakkımda">Hakkımda</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#Eğitim">Eğitim</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#Hobiler">Hobiler</a></li>
        
    </ul>
</div>




